<h1 class="title">City Locator</h1>

<div class="row dropdown">
  <div ngbDropdown class="d-inline-block">
    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{currentState}}</button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button ngbDropdownItem *ngFor="let s of stateList" (click)="getSelectedState(s.State)">{{s.State}}</button>
    </div>
  </div>
</div>
<hr class="border-black">
<div *ngIf="cityList.length === 0">
  Please select state from dropdown
</div>
<div class="container" *ngIf="cityList.length > 0">
  <div class="row">
    <div class="col-6"><h4>City</h4></div>
    <div class="col-6"><h4>Map</h4></div>
  </div>
  <div class="row col-border" *ngFor="let c of cityList">
    <div class="col-6">{{c.City}}</div>
    <app-map class="col-6" [city]='c.City'></app-map>
  </div>
</div>